@font-face {
  font-family: Anton;
  src: url('/assets/fonts/Anton-Regular.ttf');
}
html {
  min-height: 100vh !important;
}

body {
  font-family: 'Merienda', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rammetto One', cursive !important;
}

.side-nav{
  transition: transform 0.2s ease-in-out;
}
.opened{
  transform: translateX(0) !important;
}

p {
  text-align: justify;
}
.mob-nav{
  z-index: 1000;
}
.closebtn{
  position: absolute;
  padding: 10px;
  left: 270px;
  top: 0;
  color: black;
  font-size: 15px;
  z-index: 1001;
}
.overlay{
  z-index: 990;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.7);
  transition: all 0.5s ease-out;
}
.side-nav{
  height: 100vh !important;
}
.about-us {
  display: block;
  background-color: #333;
  color: white;
  margin-top: 0;
  padding: 1%;
  position: absolute;
  bottom: 0;
  font-size: 8px !important;
  width: 100%;
  text-align: center;
}

h2 {
  color: #f00;
  text-align: left;
  font-size: 1.5rem;
}

h3, h4 {
  color: #f00;
  font-size: 1rem !important;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.2px;
  margin-left: 20px;
  opacity: 0.8;
}

.soc-linkd > a > i {
  display: inline;
  color: #333 !important;
}

.soc-links > a > i {
  color: #333;
}

.soc-links {
  font-weight: 500;
  transform: translateY(-5px);
  float: right;
  right: 20%;
  font-size: 1.5rem;
  color: #333;
  display: inline;
}

.soc-links > a > i:hover {
  color: red;
}

.button-collapse > i {
  font-size: 1.5rem;
  color: black;
}

.navigator {
  padding: 10px;
  background-color: #eee;
  position: fixed;
  width: 100% !important;
  z-index: 9;
}

._circle {
  max-height: 50px;
  height: 5vh;
  margin-top: 15vh;
}



div.userView {
  height: 30vh !important;

}

#__sponsor {
  width: 100%;
  height: 60vh;
}

.routeroutlet{
  margin-top: 12vh;
}

.menu-items a{
  height: 8vh !important;
}

.menu_button{
  width: 100vw;
  height: 10vh;
  opacity: 0.5;
  position: fixed;
  bottom: 0;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 102;
  background-color: #e10505;
  font-size: 8vh;
  line-height: 10vh;
  text-align: center;
  /*border-radius: 10%;*/
  color: white;
  font-family: Anton ;
}
@media screen and (min-height: 500px) {

  .about-us {
    padding: 5%;
    position: absolute;
    bottom: 0%;
  }

}
