<section id="cd-placeholder-3" class="cd-section cd-container">
  <h2>Sponsors Scheme</h2>
  <table style="table-layout:fixed;">
    <thead>
    <tr>
      <th style="padding-top:20px;">Benefits</th>
      <th>1st Tier<br>( 100k+ )</th>
      <th>2nd Tier<br>( 50k+ )</th>
      <th>3rd Tier<br>( 20k+ )</th>
    </thead>
    <tbody>
    <tr>
      <td>{{sheet2[3].benefits}}</td>
      <td><span>{{sheet2[3].sttier}}</span></td>
      <td *ngIf="sheet2[4]['ndtier']=='y'"><span>{{sheet2[3].ndtier}}</span></td>
      <td *ngIf="sheet2[4]['rdtier']=='y'"><span>{{sheet2[3].rdtier}}</span></td>
      <td *ngIf="sheet2[4]['thtier']=='y'"><span>{{sheet2[3].thtier}}</span></td>
    </tr>
    <tr *ngFor="let cont of sheet2.slice(4)">
      <td>{{cont['benefits']}}</td>
      <td *ngIf="cont['sttier']=='y'"><span class="fa fa-check-square"></span></td>
      <td *ngIf="cont['ndtier']=='y'"><span class="fa fa-check-square"></span></td>
      <td *ngIf="cont['rdtier']=='y'"><span class="fa fa-check-square"></span></td>
      <td *ngIf="cont['thtier']=='y'"><span class="fa fa-check-square"></span></td>
    </tr>
    </tbody>
  </table>
</section>
