#map {
  display: inline-block;
  width: 500px;
  height: 300px;
  cursor: pointer;

}

.clicked {
  pointer-events: none;
}

.about-us {
  display: inline-block;
  width: 30%;
  height: 200px;
  margin-top: 0;
  position: absolute;
  padding: 2%;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

/*----------------forms----------------------*/
.my_form {
  display: inline-block;
  padding: 0% 0 5% 5%;
  border-left: 3px groove white;
  width: 30%;
  margin-left: 30%;
  position: absolute;
}

.my_form > input {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  margin: 1% 1% 1% 1%;
  width: 40%;
}

.my_form > input::placeholder {
  color: red;
  opacity: 0.7;
}

.my_form > .submit_button {
  width: 20%;
  height: 30px;
  margin: 4% 0 0 30%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-weight: 900;
}

.my_form > .submit_button:hover {
  background-color: #0f0;
  font-size: 12px;
  color: #666;
}

#email, #message {
  width: 82.5%;
}

iframe.members {
  width: 100vw;
  height: 370vh;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}


