<!--google maps-->
<section class="footer">
  <div class="contacts" onclick="enablescroll()">
    <div id="map" class="clicked"></div>

    <div class="about-us">
    <pre>
    Society of Automotive Engineers (SAE)
    Indian Institute of Technology, Kanpur
    Kanpur-208016
    Uttar Pradesh (U.P.)
    India

    pr.iitkms@gmail.com
    </pre>
    </div>
    <form class="container my_form">
      <div
        style="margin-left: 15%; margin-bottom:5% ;color:white ; font-weight: 500; font-size: 2rem;letter-spacing: 5px; text-transform: lowercase; display: inline;">
        <i class="fa fa-book"></i>contact us
      </div>
      <br>
      <input placeholder="First name" id="first_name" type="text" class="validate">
      <input placeholder="Last name" id="last_name" type="text" class="validate"><br>
      <input placeholder="email" id="email" type="text" class="validate"><br>
      <input placeholder="message" id="message" type="text" class="validate"><br>
      <div class="submit_button">Submit</div>
    </form>
  </div>
</section>
