<section class="tab-content" id="_gallery">
  <div class="carousell">
    <a class="carousell-item" href="#one!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/1.jpg">
    </a>
    <a class="carousell-item" href="#two!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/2.jpg">
    </a>
    <a class="carousell-item" href="#three!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/3.jpg">
    </a>
    <a class="carousell-item" href="#four!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/4.JPG">
    </a>
    <a class="carousell-item" href="#five!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/5.JPG">
    </a>
    <a class="carousell-item" href="#one!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/6.JPG">
    </a>
    <a class="carousell-item" href="#two!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/7.JPG">
    </a>
    <a class="carousell-item" href="#three!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/8.JPG">
    </a>
    <a class="carousell-item" href="#four!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/9.JPG">
    </a>
    <a class="carousell-item" href="#five!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/10.JPG">
    </a>
    <a class="carousell-item" href="#five!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/11.JPG">
    </a>
    <a class="carousell-item" href="#five!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/12.JPG">
    </a>
    <a class="carousell-item" href="#five!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/13.JPG">
    </a>
    <a class="carousell-item" href="#five!">
      <img src="assets/blank.gif" lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/gallery/14.jpg">
    </a>
  </div>

</section>
