<section class="tab-content" id="_gallery">
  <div class="carousell">
    <a class="carousell-item" href="#one!">
      <img src="assets/blank.gif" alt="/gallery/1.jpg">
    </a>
    <a class="carousell-item" href="#two!">
      <img src="assets/blank.gif" alt="/gallery/2.jpg">
    </a>
    <a class="carousell-item" href="#three!">
      <img src="assets/blank.gif" alt="/gallery/3.jpg">
    </a>
    <a class="carousell-item" href="#four!">
      <img src="assets/blank.gif" alt="/gallery/4.JPG">
    </a>
    <a class="carousell-item" href="#five!">
      <img src="assets/blank.gif" alt="/gallery/5.JPG">
    </a>
    <a class="carousell-item" href="#one!">
      <img src="assets/blank.gif" alt="/gallery/6.JPG">
    </a>
    <a class="carousell-item" href="#two!">
      <img src="assets/blank.gif" alt="/gallery/7.JPG">
    </a>
    <a class="carousell-item" href="#three!">
      <img src="assets/blank.gif" alt="/gallery/8.JPG">
    </a>
    <a class="carousell-item" href="#four!">
      <img src="assets/blank.gif" alt="/gallery/9.JPG">
    </a>
    <a class="carousell-item" href="#five!">
      <img src="assets/blank.gif" alt="/gallery/10.JPG">
    </a>
    <a class="carousell-item" href="#five!">
      <img src="assets/blank.gif" alt="/gallery/11.JPG">
    </a>
    <a class="carousell-item" href="#five!">
      <img src="assets/blank.gif" alt="/gallery/12.JPG">
    </a>
    <a class="carousell-item" href="#five!">
      <img src="assets/blank.gif" alt="/gallery/13.JPG">
    </a>
    <a class="carousell-item" href="#five!">
      <img src="assets/blank.gif" alt="/gallery/14.jpg">
    </a>
  </div>

</section>
