<div class="logo2">
  <marquee behaviour="scroll" direction="left" class="logo">
    <img src="/assets/blank.gif" alt="/sponsor/pep.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/nippon.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/groz.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/lps.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/jcbl.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/rekluse.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/my.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/crystal.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/state.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/srf.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/ktm.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/wilwood.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/hind.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/cfw.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/kaz.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/tech.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/ansys.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/solid.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/4i.jpg"/>
    <img src="/assets/blank.gif" alt="/sponsor/tinkering.jpg"/>
  </marquee>
</div>

