<section class="tab-content" id="_alumni">
  <section class="main-content">
    <h1 style="color: #333; font-size:5rem;margin-left: 4%">Alumni</h1>
    <section class="photos">

      <div class="people">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/abhimanyu_goyal.jpg">
        </div>
        <div>
          <h3>Abhimanyu Goyal</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/abhinav_jain.jpg">
        </div>
        <div>
          <h3>Abhinav Jain</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/abhinavp.jpg">
        </div>
        <div>
          <h3>Abhinav Prateek</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/abhisheks.jpg">
        </div>
        <div>
          <h3>Abhishek Srivastava</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/ajay.jpg">
        </div>
        <div>
          <h3>Ajay Bajaj</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/amark.jpg">
        </div>
        <div>
          <h3>Amar Kumar</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/amber_jaiswal.jpg">
        </div>
        <div>
          <h3>Amber Jaiswal</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/ambers.jpg">
        </div>
        <div>
          <h3>Amber Srivastava</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/anmolp.jpg">
        </div>
        <div>
          <h3>Anmol Pandey</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/anuj_sharma.jpg">
        </div>
        <div>
          <h3>Anuj Sharma</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/avichal_singh.jpg">
        </div>
        <div>
          <h3>Avichal Singh</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>
      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/badal.jpg">
        </div>
        <div>
          <h3>Badal</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>
      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/gaurav_gupta.jpg">
        </div>
        <div>
          <h3>Gaurav Gupta</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>
      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/harshit_rathore.jpg">
        </div>
        <div>
          <h3>Harshit Rathore</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>
      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/kewald.jpg">
        </div>
        <div>
          <h3>Kewal Dharmashi</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>
      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/kirtan_thakkar.jpg">
        </div>
        <div>
          <h3>Kirtan Thakkar</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/kuldeep_yadav.jpg">
        </div>
        <div>
          <h3>Kuldeep Yadav</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/kumar_prateek.jpg">
        </div>
        <div>
          <h3>Kumar Prateek</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/maitreya_sinha.jpg">
        </div>
        <div>
          <h3>Maitreya Sinha</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/mohit_gupta.jpg">
        </div>
        <div>
          <h3>Mohit Gupta</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/mridul_bharadwaj.jpg">
        </div>
        <div>
          <h3>Mridul Bharadwaj</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/nikhil_kurele.jpg">
        </div>
        <div>
          <h3>Nikhil Kurele</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/parthp.jpg">
        </div>
        <div>
          <h3>Parth Pratik</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/prabhakaran_balusundaram.jpg">
        </div>
        <div>
          <h3>Prabhakaran Balusundaram</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/prakhar_gupta.jpg">
        </div>
        <div>
          <h3>Prakhar Gupta</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/prakhar_gupta_EE.jpg">
        </div>
        <div>
          <h3>Prakhar Gupta</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/prashant_kumar.jpg">
        </div>
        <div>
          <h3>Prashant Kumar</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/preetish_jaiswal.jpg">
        </div>
        <div>
          <h3>Preetish Jaiswal</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/rahul_tudu.jpg">
        </div>
        <div>
          <h3>Rahul Tudu</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/rajatj.jpg">
        </div>
        <div>
          <h3>Rajat Jain</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/ravi_kothari.jpg">
        </div>
        <div>
          <h3>Ravi Kothari</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/ravi_ranjan.jpg">
        </div>
        <div>
          <h3>Ravi Ranjan</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/ravis.jpg">
        </div>
        <div>
          <h3>Ravi Shankar Mishra</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/rishav_jain.jpg">
        </div>
        <div>
          <h3>Rishav Jain</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/rohinishg.jpg">
        </div>
        <div>
          <h3>Rohinish Gupta</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/rohita.jpg">
        </div>
        <div>
          <h3>Rohit Arora</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/sagar_bhure.jpg">
        </div>
        <div>
          <h3>Sagar Bhure</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/salil_mishra.jpg">
        </div>
        <div>
          <h3>Salil Mishra</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/sambit_das.jpg">
        </div>
        <div>
          <h3>Sambit Das</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/sanjay_raghav.jpg">
        </div>
        <div>
          <h3>Sanjay Raghav</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/sansit.jpg">
        </div>
        <div>
          <h3>Sansit Patnaik</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/sarvesh_koyande.jpg">
        </div>
        <div>
          <h3>Sarvesh Koyande</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/shashwat_trivedi.jpg">
        </div>
        <div>
          <h3>Shashwat Trivedi</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/shubham_agarwal.jpg">
        </div>
        <div>
          <h3>Shubham Agarwal</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/shubhamg.jpg">
        </div>
        <div>
          <h3>Shubham Gajbhiye</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/shubhams.jpg">
        </div>
        <div>
          <h3>Shubham Sonewane</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/shyamal_rao.jpg">
        </div>
        <div>
          <h3>Shyamal Rao</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/sudhanshu_ranjan.jpg">
        </div>
        <div>
          <h3>Sudhanshu Ranjan</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/vibhor.jpg">
        </div>
        <div>
          <h3>Vibhor Aggarwal</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>

      <div class="people ">
        <div>
          <img src="assets/blank.gif"
               alt="/alumni/vikash.jpg">
        </div>
        <div>
          <h3>Vikas</h3>
          <!-- <p>khfdkf ha fhk hfjk jhfsdajk kjashd jkshd fajk fhkjsda hjhsdjfh jsdhf kshdj</p>
          <p><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></p> -->
        </div>
      </div>
    </section>
  </section>
</section>
