<!--tab-sponsors-->
<section class="tab-content" id="_sponsors">
  <main class="cd-main-content" style="background:white;">

    <section class="cd-section cd-container" *ngFor="let cont of sheet.slice(1,2)">
      <h2>{{cont.heading}}</h2>
      <p *ngFor="let p of cont.contents">{{p}}</p>
    </section>

    <section id="cd-placeholder-2" class="cd-section cd-container">
      <h2>{{sheet[1].heading}}</h2>
      <div *ngFor="let cont of sheet.slice(3,8)">
          <h4>{{cont.heading}}</h4>
        <p>{{cont.contents}}</p>
      </div>
    </section> <!-- #cd-placeholder-2 -->

    <section id="cd-placeholder-3" class="cd-section cd-container">
      <h2>Sponsors Scheme</h2>
      <table style="table-layout:fixed;">
        <thead>
        <tr>
          <th style="padding-top:20px;">Benefits</th>
          <th>1st Tier<br>( 100k+ )</th>
          <th>2nd Tier<br>( 50k+ )</th>
          <th>3rd Tier<br>( 20k+ )</th>
        </thead>
        <tbody>
        <tr>
          <td>Logos on the car bodyworks</td>
          <td><span>Extra Large</span></td>
          <td><span>Large</span></td>
          <td><span>Medium</span></td>
        </tr>
        <tr>
          <td>Tax Exemption</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Partnership Certificate</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Promotion On Teams Fan's Page</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Company logo on Team apparel and driving gear</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Company logo on Team official website</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Special Recognition In Print and News media</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Preferential access during recruitment season at IITK</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Publicity In College Festivals</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Hoardings on pit during competition</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Workshops at Institute's technical fests</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Promotional displays at company's events</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Company's name associated with vehicle's name</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Invitation as the guest of honour for launch event</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td style="padding-bottom:20px;">Promotional Displays At Company's Events</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        </tbody>
      </table>
    </section> <!-- #cd-placeholder-3 -->

    <section id="cd-placeholder-4" class="cd-section cd-container">
      <h2>Why Sponsor Us</h2>
      <div *ngFor="let cont of sheet.slice(9)">
        <h4>{{cont.heading}}</h4>
        <p>{{cont.contents}}</p>
      </div>
    </section>

    <section class="cd-section cd-container">
      <h2>Our Brochure</h2>
      <div data-configid="29851202/49484472" style="width:100%; height:700px;" class="issuuembed">
      </div>
    </section>

  </main>
</section>
