/*--------main content-----------*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Convergence', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1, h4 {
  display: inline;
  font-weight: 800;

}

h1 {
  letter-spacing: 5px;
  color: #ccc;
}

h2 {
  font-size: 3rem !important;
  color: #666;
}

h3 {
  font-size: 2.5rem !important;
  color: #888 !important;
}

.main-content {
  display: block;
  z-index: 10 !important;
  margin-top: 0%;
  border: 0px groove black;
  padding: 3rem;

}

/*_sponsors.css*/
.cd-section.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  max-width: 768px;
}

/* --------------------------------

Placeholder Sections

-------------------------------- */
.cd-section {
  margin: 0 auto;
  padding: 2em 0;
}

.cd-section h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .6em;
  font-weight: 700;
}

.cd-section h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 1em;
}

.cd-section p,
.cd-section td,
.cd-section th {
  line-height: 1.3;
}

.cd-section th {
  font-weight: 700;
}

.cd-section td,
.cd-section th {
  text-align: center;
  vertical-align: middle;
  padding: 5px 0;
  /*border-bottom: 1px solid rgba(97, 113, 129, 0.03);*/
}

.cd-section th:first-child,
.cd-section td:first-child {
  text-align: left;
  width: 280px;
  padding-left: 15px;
  padding-right: 10px;
  background: #e9f0f5;
}

@media only screen and (min-width: 1170px) {
  .cd-section {
    margin: 0 auto;
    padding: 4em 0;
  }

  .cd-section > h2 {
    font-size: 30px;
    font-size: 1.875rem;
  }

  .cd-section p,
  .cd-section td:first-child,
  .cd-section th {
    font-size: 20px;
    font-size: 1.1rem;
  }
}

.sponsors-list a {
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.sponsors-list a img {
  max-width: 140px;
}
