<!--tab-sponsors-->
<section class="tab-content" id="_sponsors">
  <main class="cd-main-content" style="background:white;">

    <section id="cd-placeholder-1" class="cd-section cd-container">
      <h2>About Our Sponsors</h2>
      <p>
        SAE IITK is always looking for new partners who can support and better our project. Besides increasing
        brand awareness through various events, partnering with us also brings you in contact with young,
        motivated potential employees. Projects like Formula SAE Italy provides our team members with more
        practical knowledge and experience and an edge over other graduates. Our team members have the unique
        and valuable experience of building a complete car encompassing aspects like designing, manufacturing,
        testing and marketing. Being adept in not only technical domain but also in team work, organisation and
        project management, they develop strong principles and skills in professionalism, work-ethics and
        leading from the front.
      </p>
      <p style="margin-top:10px;">
        The media and public attention of FSAE has always been on the rise. We always emphasize our relationship
        with sponsors when we managing or holding any event. Being associated with young, dynamic motivated
        technical students from one of the best engineering institute of the country is great when you are
        looking to further enhance your company's image. This goal being accomplished through multiple planned
        publicity avenues taken care by our dedicated marketing and event-management team.
      </p>
    </section> <!-- #cd-placeholder-1 -->

    <section id="cd-placeholder-2" class="cd-section cd-container">
      <h2>Sponsors' Role</h2>
      <h3>Financial Assistance</h3>
      <p>Finance is the lifeline of any project. We welcome sponsorship of any amount which will help this
        initiative to be successfully completed.</p>
      <h3>Technical Knowledge and Guidance</h3>
      <p>The success of this project is dependent on the technical know-how which is often not available in
        academic circles. Your contribution on this front will be invaluable.</p>
      <h3>Parts Sponsorship</h3>
      <p>The completion of the Formula Race Car is dependent on the availability of special parts that are rarely
        available in the open market.</p>
      <h3>Industrial Contacts</h3>
      <p>Sometimes, getting in touch with the right people is more important for taking the project ahead. Various
        machining processes and heat treatment processes require expertise and knowledge that may be rare.</p>
    </section> <!-- #cd-placeholder-2 -->

    <section id="cd-placeholder-3" class="cd-section cd-container">
      <h2>Sponsors Scheme</h2>
      <table style="table-layout:fixed;">
        <thead>
        <tr>
          <th style="padding-top:20px;">Benefits</th>
          <th>1st Tier<br>( 100k+ )</th>
          <th>2nd Tier<br>( 50k+ )</th>
          <th>3rd Tier<br>( 20k+ )</th>
        </thead>
        <tbody>
        <tr>
          <td>Logos on the car bodyworks</td>
          <td><span>Extra Large</span></td>
          <td><span>Large</span></td>
          <td><span>Medium</span></td>
        </tr>
        <tr>
          <td>Tax Exemption</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Partnership Certificate</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Promotion On Teams Fan's Page</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Company logo on Team apparel and driving gear</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Company logo on Team official website</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Special Recognition In Print and News media</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Preferential access during recruitment season at IITK</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Publicity In College Festivals</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Hoardings on pit during competition</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Workshops at Institute's technical fests</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Promotional displays at company's events</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Company's name associated with vehicle's name</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td>Invitation as the guest of honour for launch event</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
        </tr>
        <tr>
          <td style="padding-bottom:20px;">Promotional Displays At Company's Events</td>
          <td><span class="font-icon font-icon-checkbox-checked"></span></td>
          <td><span class=""></span></td>
          <td><span class=""></span></td>
          <td><span class=""></span></td>
          <td><span class=""></span></td>
        </tr>
        </tbody>
      </table>
    </section> <!-- #cd-placeholder-3 -->

    <section id="cd-placeholder-4" class="cd-section cd-container">
      <h2>Why Sponsor Us</h2>
      <h3>Sponsor Logo on the car</h3>
      <p>The company logo will be displayed on prominent positions on the car as well as on team uniforms
        publicizing the company in an international event. There are 10,000 students participating across the
        world and an event audience of over 100,000 enthusiastic people. FSAE is an irresistible chance to
        market your valuable brand.</p>
      <h3>Official night</h3>
      <p>We will organize an event where you can view the car up close, ask questions and meet the entire team
        including faculty members and special guests.</p>
      <h3>Public Events</h3>
      <p>Our team will attend a number of public events a year. Some of which includes the prestigious Auto Expo
        in Delhi, Mini Auto Expo in Chandigarh and industry visits.</p>
      <h3>Promotional displays</h3>
      <p>We will present our car at various company events our sponsors may hold throughout the year. This will
        allow company employees an opportunity to see the car as well as their associates and will make company
        stand out at an expo.</p>
      <h3>Corporate Social Responsibility</h3>
      <p>Funding and guiding a project which support innovation for development of new technology will add to CSR
        of your company.</p>
      <h3>College Festivals</h3>
      <p>Our sponsors will be promoted through Techkriti (our technical festival) where the car will be
        displayed.</p>
      <h3>Talent from IIT</h3>
      <p>Your company would be invited by our institute where you can take the best students of the country as
        your future employees.</p>
      <h3>Sponsor Focus in Newsletter</h3>
      <p>The sponsor companies will get focus in our newsletter highlighting their products/brands. The newsletter
        will reach all the stakeholders (sponsors, administration, faculty etc.) and in our residency campus
        comprising 10000 residents.</p>
      <h3>Website</h3>
      <p>We have a website that highlights sponsor contribution in great detail whilst showcasing the car design
        and the team and providing regular updates on the team's progress. Also, the technical details we
        provide on our site serve as a platform of learning for many students.</p>
      <h3>Launch</h3>
      <p>Once manufacturing is complete, a press confrence will be organised to unveil the car, which will give
        our sponsors maximum coverage in national print and television media.It will also involve faculty
        members,engineers and technicians from various places.</p>
      <h3>Tax Exemption Benefits</h3>
      <p>Income Tax rebate of 25% for research purpose (Section 35, Income Tax Act)</p>
    </section> <!-- #cd-placeholder-4 -->

    <section class="cd-section cd-container">
      <h2>Our Brochure</h2>
      <div data-configid="29851202/49484472" style="width:100%; height:700px;" class="issuuembed">
      </div>
    </section>

  </main>
</section>
