<section class="main-content tab-content" id="_members">
  <h1 style="margin-left: 10%;color: #555;">MEMBERS</h1>
  <section class="subs">
    <span class="subsheader">Faculty</span>
    <section class="slider">
      <div class="flexslider carousel">
        <ul class="slides">
          <li>
            <a href="https://home.iitk.ac.in/~sde/">
              <img src="assets/blank.gif"
                   alt="/member/faculty/santanu.jpg"/>
            </a>
            <span class="_name">Dr. Santanu De</span>
          </li>
          <li>
            <a href="https://iitk.ac.in/new/sachin-y-shinde">
              <img src="assets/blank.gif"
                   alt="/member/faculty/sachin.jpg"/>
            </a>
            <span class="_name">Dr. Sachin Y. Shinde</span>
          </li>
        </ul>
      </div>
    </section>
  </section>
  <section class="subs" *ngFor="let subs of subsystems">
    <span class="subsheader">{{subs}}</span>
    <section class="slider">
      <div class="flexslider carousel">
        <ul class="slides">
          <li *ngFor="let cont of sheet.filter(cont.subsystem.toLowerCase() == subs)">
            <img src="assets/blank.gif" alt={{cont.picurl}}/>
            <span class="_name">{{cont.name}}</span>
          </li>
        </ul>
      </div>
    </section>
  </section>
</section>
