<section class="main-content tab-content" id="_members" *ngIf="sheet">
  <h1 style="margin-left: 10%;color: #555;">MEMBERS</h1>
  <section class="subs">
    <span class="subsheader">Faculty</span>
    <section class="slider">
      <div class="flexslider carousel full">
        <ul class="slides">
          <li>
            <a href="https://home.iitk.ac.in/~sde/">
              <img src="assets/blank.gif"
                   [lazyLoad]="'https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/member/faculty/santanu.jpg'"/>
            </a>
            <span class="_name">Dr. Santanu De</span>
          </li>
          <li>
            <a href="https://iitk.ac.in/new/sachin-y-shinde">
              <img src="assets/blank.gif"
                   [lazyLoad]="'https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/member/faculty/sachin.jpg'"/>
            </a>
            <span class="_name">Dr. Sachin Y. Shinde</span>
          </li>
        </ul>
      </div>
    </section>
  </section>
  <section class="subs" *ngFor="let subs of subsystems">
    <span class="subsheader">{{subs}}</span>
    <section class="slider">
      <div class="full">
        <ul class="slides" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap>
          <li *ngFor="let cont of sheet | subFilter:subs">
            <div class="images">
              <img src="assets/blank.gif"
                 [lazyLoad]="getImage(cont.picurl)"/>
            </div>
              <span class="_name">{{cont.name}}</span>
          </li>
        </ul>
      </div>
    </section>
  </section>
</section>
