/*--------initial display---------*/
h3 {
  letter-spacing: 2px;
  color: #d4d4d4;
  font-weight: 900;
}

.subs {
  margin-top: 10rem;
}

.subsheader {
  display: block;
  border: 0px solid black;
  margin-left: 17%;
  font-family: 'Convergence', sans-serif;
  font-size: 4rem;
  background: -webkit-linear-gradient(#e00, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  opacity: 0.9;
}

/*----------members-----------------*/
.slider {
  width:70vw;
  margin-left: 15vw;
  display: block;

}

.sliderhover {
  width: 90%;
  margin-left: 20%;
}
li{
  display: inline-block;
}
li img, .images{
  width: 200px;
  border-radius: 100px;
}
li img{
  clip-path: circle(100px at 100px 100px);
}
li:hover .images{
  box-shadow:0px 0px 15px 6px #ccc;
  filter:saturate(1.5);
}
.images{
  overflow: hidden;
  height: 200px;
  margin: 10px;
}
li span{
  display: block;
  text-align: center;
  width: 200px;
  margin: 0 10px 0 10px;
  font-size: 18px;
}


