/*--------initial display---------*/
h3 {
  letter-spacing: 2px;
  color: #d4d4d4;
  font-weight: 900;
}

.subs {
  margin-top: 10rem;
}

.subsheader {
  display: block;
  border: 0px solid black;
  margin-left: 17%;
  font-family: 'Convergence', sans-serif;
  font-size: 4rem;
  background: -webkit-linear-gradient(#e00, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  opacity: 0.9;
}

/*----------flex slider-----------------*/
.slider {
  width: 850px;
  margin-left: 20%;
  display: block;

}

.sliderhover {
  width: 90%;
  margin-left: 20%;
}



