<section class="main-content tab-content" id="_members">
<h1 style="margin-left: 10%;color: #555;">MEMBERS</h1>
<section class="subs">
  <span class="subsheader">Faculty</span>
  <section class="slider">
    <div class="flexslider carousel">
      <ul class="slides">
        <li>
          <a href="https://home.iitk.ac.in/~sde/">
            <img src="assets/blank.gif"
                 lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/faculty/santanu.jpg"/>
          </a>
          <span class="_name">Dr. Santanu De</span>
        </li>
        <li>
          <a href="https://iitk.ac.in/new/sachin-y-shinde">
            <img src="assets/blank.gif"
                 lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/faculty/sachin.jpg"/>
          </a>
          <span class="_name">Dr. Sachin Y. Shinde</span>
        </li>
      </ul>
    </div>
  </section>
</section>

<section class="subs">
  <span class="subsheader">Aerodynamics</span>
  <section class="slider">
    <div class="flexslider carousel">
      <ul class="slides">
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/aero/ronit.jpg"/>
          <span class="_name">Ronit Bansal</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/aero/abhinav.jpg"/>
          <span class="_name">Abhinav Thakur</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/aero/abhishek.jpg"/>
          <span class="_name">Abhishek Kumar</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/aero/bhavishya.JPG"/>
          <span class="_name">Bhavishya Singhal</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/aero/nancy.jpg"/>
          <span class="_name">Nancy Goyal</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/aero/shrey.jpg"/>
          <span class="_name">Shrey Aggarwal</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/aero/varinj.jpg"/>
          <span class="_name">Varun Jindal</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/aero/varun.jpg"/>
          <span class="_name">Varun Garg</span>
        </li>
      </ul>
    </div>
  </section>
</section>

<section class="subs">
  <span class="subsheader">Brakes</span>
  <section class="slider">
    <div class="flexslider carousel">
      <ul class="slides">
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/brakes/sarthak.jpg"/>
          <span class="_name">Sarthhak Vashist</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/brakes/ashu.jpg"/>
          <span class="_name">Ashutosh Chandra</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/brakes/biswajeet.jpg"/>
          <span class="_name">Biswajeet Rath</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/brakes/faraz.jpg"/>
          <span class="_name">Faraz Shaliban</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/brakes/pulkitg.jpg"/>
          <span class="_name">Pulkit Gupta</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/brakes/pulkitj.jpg"/>
          <span class="_name">Pulkit Jain</span>
        </li>
      </ul>
    </div>
  </section>
</section>

<section class="subs">
  <span class="subsheader">Chassis</span>
  <section class="slider">
    <div class="flexslider carousel">
      <ul class="slides">
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/chassis/ayusht.jpg"/>
          <span class="_name">Ayush Tulsyan</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/chassis/neha.jpg"/>
          <span class="_name">Neha Byadwal</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/chassis/prateek.jpg"/>
          <span class="_name">Prateek Singh</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/chassis/aditya.jpg"/>
          <span class="_name">Aditya Pratap Singh Rajawat</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/chassis/mayanks.jpg"/>
          <span class="_name">Mayank Shubham</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/chassis/panshu.jpg"/>
          <span class="_name">Pranshu Garg</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/chassis/preet.jpg"/>
          <span class="_name">Sunkari Preetham Paul</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/chassis/ashraf.jpg"/>
          <span class="_name">Syed MD Ashraf</span>
        </li>
      </ul>
    </div>
  </section>
</section>

<section class="subs">
  <span class="subsheader">Powertrain</span>
  <section class="slider">
    <div class="flexslider carousel">
      <ul class="slides">
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/akshay.jpg"/>
          <span class="_name">Akshay Bhola</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/prashumn.jpg"/>
          <span class="_name">Prashumn Wrekkonge</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/purwaj.jpg"/>
          <span class="_name">Purwaj Tiwari</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/somesh.jpg"/>
          <span class="_name">Somesh Patel</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/tushar.jpg"/>
          <span class="_name">Tushar Agarwal</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/vaibhav.jpg"/>
          <span class="_name">Vaibhav Bhagat</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/akarsh.jpg"/>
          <span class="_name">Akarsh Pathak</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/anant.jpg"/>
          <span class="_name">Anant Veer Singh</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/faizal.jpg"/>
          <span class="_name">Faizal Ansari</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/harshul.jpg"/>
          <span class="_name">Harshul Lodha</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/pranav.jpg"/>
          <span class="_name">Pranav Kulkarni</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/rajesh.jpg"/>
          <span class="_name">Rajesh Mishra</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/shlok.jpg"/>
          <span class="_name">Shlok Sharma</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/vaibhavr.jpg"/>
          <span class="_name">Vaibhav Raj Singh</span>
        </li>

      </ul>
    </div>
  </section>
</section>

<section class="subs">
  <span class="subsheader">Vehicle Dynamics</span>
  <section class="slider">
    <div class="flexslider carousel">
      <ul class="slides">
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/VD/ayushg.jpg"/>
          <span class="_name">Ayush Goel</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/VD/jatin.jpg"/>
          <span class="_name">Jatin Agarwal</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/VD/piyush.jpg"/>
          <span class="_name">Piyush Kumar</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/VD/ajay.jpg"/>
          <span class="_name">Ajay Raj Chaudhary</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/VD/anshuman.JPG"/>
          <span class="_name">Anshuman Sinha</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/VD/asim.jpg"/>
          <span class="_name">Asim Katakwar</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/VD/ratnesh.jpg"/>
          <span class="_name">Ratnesh Swarnkar</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/VD/shubham.jpg"/>
          <span class="_name">Shubham Singh</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/VD/utkarsh.jpg"/>
          <span class="_name">Utkarsh Prasad</span>
        </li>
      </ul>
    </div>
  </section>
</section>

<section class="subs">
  <span class="subsheader">Marketing</span>
  <section class="slider">
    <div class="flexslider carousel">
      <ul class="slides">
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/VD/piyush.jpg"/>
          <span class="_name">Piyush Kumar</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/aero/bhavishya.jpg"/>
          <span class="_name">Bhavishya Singhal</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/powertrain/shlok.jpg"/>
          <span class="_name">Shlok Sharma</span>
        </li>
      </ul>
    </div>
  </section>
</section>

<section class="subs">
  <span class="subsheader">Web Development</span>
  <section class="slider">
    <div class="flexslider carousel">
      <ul class="slides">
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/chassis/ayusht.jpg"/>
          <span class="_name">Ayush Tulsyan</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/brakes/pulkitg.jpg"/>
          <span class="_name">Pulkit Gupta</span>
        </li>
        <li>
          <img src="assets/blank.gif"
               lsrc="https://res.cloudinary.com/notnowbitches/image/upload/v1498843998/member/chassis/mohit.jpg"/>
          <span class="_name">Mohit Singh</span>
        </li>
      </ul>
    </div>
  </section>
</section>
</section>
