<div class="_navbar">
  <img src="assets/blank.gif" alt="/sae.png"
       class="_saelogo">
  <div id="tabs">
    <a id="home">home</a>
    <a>about</a>
    <a>sponsors</a>
    <a>members</a>
    <a>alumni</a>
    <a>gallery</a>
  </div>
  <div class="soc-links">
    <a href="https://www.facebook.com/SAE.IITK" target="_blank"><i class="fa fa-facebook-official"></i></a>
    <a href="https://twitter.com/IITKMotorsports" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://plus.google.com/u/0/116448649617376276402" target="_blank"><i class="fa fa-google-plus"></i></a>
    <a href="https://www.linkedin.com/groups/4024304/profile" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>
</div>
