<div class="_navbar">
  <section fxLayout="row" fxLayoutAlign="space-between center">
    <div class="_saelogo">
      <img src="assets/blank.gif"
           lazyLoad="https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/sae.png" alt = "https://res.cloudinary.com/imagelibraryfsae/image/upload/v1498843998/sae.png">
    </div>
    <div id="tabs" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="20px">
      <a id="home">home</a>
      <a>about</a>
      <a>sponsors</a>
      <a>members</a>
      <a>alumni</a>
      <a>gallery</a>
    </div>
    <div class="soc-links">
      <a href="https://www.facebook.com/SAE.IITK" target="_blank"><i class="fa fa-facebook-official"></i></a>
      <a href="https://twitter.com/IITKMotorsports" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://plus.google.com/u/0/116448649617376276402" target="_blank"><i class="fa fa-google-plus"></i></a>
      <a href="https://www.linkedin.com/groups/4024304/profile" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
  </section>
</div>
